body {
    background: url("../img/keyboard-2903280.svg") no-repeat;
    background-size: cover;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Optional: Schriftfarbe anpassen, falls notwendig */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.headerDiv {
    grid-row: 1;
    grid-column: 2/4;
    align-items: initial;
    width: 560px;
    height: 90px;
    background-color: whitesmoke;
    border: solid black;
    transition: transform 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDiv:hover {
    transform: scale(1.3);
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
.typing-text {
    overflow: hidden;
    border-right: 2px solid black; /* Optional: Simuliert den Cursor */
    white-space: nowrap;
    animation: typing 4s steps(30) infinite; /* Ändern Sie die Dauer und die Schritte nach Bedarf */
}

.typing-container {
    overflow: hidden;
    text-align: center; /* Zentriert den Text horizontal im Container */
    line-height: 9dvb; /* Zentriert den Text vertikal im Container */
}

h1 {
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
}

.form{
    grid-row: 3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-evenly;
}

.login {
    border: 2px solid black;
    background-color: #333;
    border-radius: 20px;
    padding: 30px;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.login:hover {
    background-color: #4B0082; 
    transform: scale(1.3);
}

.regist{
    border: 2px solid black;
    background-color: #333;
    border-radius: 20px;
    padding: 30px;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.regist:hover {
    background-color: #4B0082;
    transform: scale(1.3);
}
