nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%; /* Vollständige Breite des Viewports */
    padding: 10px; /* Optional: Abstand zum Inhalt hinzufügen */
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Hinzugefügt: Zentriert die Navbar horizontal */
  }

  .schrift{
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 25px;
    color: whitesmoke;
  }

  .schrift:hover{
    color: black;
  }

  .container3 {
    display: flex;
    justify-content: center;
  }

.container{
    display: grid;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #333; /* Hintergrundfarbe anpassen */
}

.container1{
    display: flex;
    justify-content: space-evenly;
}

.ul{
    border: 10px solid green;
}