  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%; /* Vollständige Breite des Viewports */
    padding: 10px; /* Optional: Abstand zum Inhalt hinzufügen */
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Hinzugefügt: Zentriert die Navbar horizontal */
  }

  li {
    padding: 5px;
  }

  .schrift{
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 25px;
    color: whitesmoke;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
  }

  .schrift:hover{
    color: whitesmoke;
    transform: scale(1.3);
  }

  .schriftLogin{
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 25px;
    color: whitesmoke;
  }

  .schriftLogin:hover{
    color: whitesmoke;
  }
  .schriftLogout{
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
    font-size: 25px;
    color: whitesmoke;
  }

  .schriftLogout:hover{
    color: whitesmoke;
  }

  .container3 {
    display: flex;
    justify-content: center;
  }

.container{
  display: grid;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #333; /* Hintergrundfarbe anpassen */
}

.container1{
  display: flex;
  justify-content: space-evenly;
}

.ul{
    border: 10px solid green;
}

.loginButtonDiv{
    background-color: darkolivegreen;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 1px;
    transition: background-color 0.5s ease;
    transition: transform 0.5s ease;
}

.loginButtonDiv:hover{
  background-color: darkolivegreen;
  transform: scale(1.2);
}

.logoutButtonDiv{
  background-color: darkolivegreen;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 1px;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease;
}

.logoutButtonDiv:hover{
background-color: darkolivegreen;
transform: scale(1.2);
}


.regist{
  border: 2px solid black;
  background-color: #333;
  border-radius: 20px;
  padding: 30px;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease;
}

.regist:hover {
  background-color: #4B0082;
  transform: scale(1.3);
}